﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/food.jpg" alt="ASP.NET" class="img-responsive" />
            @*<div class="carousel-caption">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>*@
        </div>
        <div class="item">
            <img src="~/images/restaurant.jpg" alt="Visual Studio" class="img-responsive" />
            @*<div class="carousel-caption">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>*@
        </div>
        <div class="item">
            <img src="~/images/mcdonalds.jpg" alt="Package Management" class="img-responsive" />
            @*<div class="carousel-caption">
                <p>
                    Bring in libraries from NuGet, Bower, and npm, and automate tasks using Grunt or Gulp.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>*@
        </div>
        <div class="item">
            <img src="~/images/kfc.jpg" alt="Microsoft Azure" class="img-responsive" />
            @*<div class="carousel-caption">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>*@
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    @*<div class="col-md-3">
        <h2>Restaurants Near Me</h2>
        <ul>
            <li>Sample pages using ASP.NET MVC 6</li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=518007">Gulp</a> and <a href="http://go.microsoft.com/fwlink/?LinkId=518004">Bower</a> for managing client-side libraries</li>
            <li>Theming using <a href="http://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>*@
    <div class="col-md-3">
        <h3>Restaurants Near Me</h3>
        <ul>
            <li><a href="#">Mc Donalds</a></li>
            <li><a href="#">KFC</a></li>
            <li><a href="#">Apple Bees</a></li>
            <li><a href="#">ChickfillA</a></li>
        </ul>
    </div>
</div>
